
ul {
  background-color: transparent;
  list-style: none;
  color: white;
  font-family: 'Archivo Black', sans-serif;
  font-weight: bold;
  font-size: 20px;
}


.listTasks {
  margin-bottom: 20px;
  font-family: 'Gloria Hallelujah', cursive;
}

.label_name {
  font-family: 'Gloria Hallelujah', cursive;
}
